$bg-color: #2c2e3d;
$white-color: #fff;
$primary-color: #00bcd4;
$secondary-color: #3c3950;
$btn-color: #393d50;
$text-color: #5f727e;
$color-1: #f0f3f2;
$color-2: #b0de79;
$color-3: #7ee0bf;
$color-4: #83bce9;
$color-5: #a289e8;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
