$bg-color: #2c2e3d;
$white-color: #fff;
$primary-color: #00bcd4;
$secondary-color: #3c3950;
$footer-text: #99a9b5;
$btn-color: #393d50;
$text-color: #5f727e;

$icon-color-1: #a7ffeb;
$icon-color-2: #acac67;

$color-1: #f0f3f2;
$color-2: #b0de79;
$color-3: #7ee0bf;
$color-4: #83bce9;
$color-5: #a289e8;
$color-6: #212331;
$color-7: #181828;
$color-8: #83bce9;
$color-9: #4b565d;
$color-10: #828e97;
$color-11: #b6c6c9;
$color-12: #5f727f;
$color-13: #394050;
$color-14: #99a9b5;
$color-15: #494b58;
$color-16: #132f33;
$color-17: #50586a;
$color-18: #f50057;
$color-19: #dfe5e8;

.fw-200 {
  font-weight: 200;
}

.fw-800 {
  font-weight: 800;
}

.m-0 {
  margin: 0 !important;
}

.mt-30 {
  margin-top: 30px;
}

.pt-36 {
  padding-top: 36px;
}

.pb-36 {
  padding-bottom: 36px;
}
.p-4 {
  padding: 4px;
}

.disable-text {
  text-decoration: line-through;
}

.section-min-height {
  min-height: 357px;
}

.bottom-dash {
  border-bottom: 1px dashed $color-17;
}

.border {
  border: 1px solid $color-19;
  border-bottom: none !important;
  border-top: none !important;
}
.border-top {
  border-top: 1px solid $color-19;
}
.border-bottom {
  border-bottom: 1px solid $color-19;
}
.border-right {
  border-right: 1px solid $color-19;
}
.border-left {
  border-left: 1px solid $color-19;
}

.primary-color {
  color: $primary-color;
}
