@import "variable";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
// mixin
@mixin bgcolor {
  background-color: $bg-color;
  color: $white-color;
}

@mixin large-btn {
  font-weight: 700;
  border: 2px solid $white-color;
  background-color: transparent;
  padding: 16px 48px;
  border-radius: 30px;
  margin: 0 18px;
  cursor: pointer;
  color: $white-color;
  transition: all 0.3s;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 21px;
}

// main
.main {
  line-height: 1;
  max-width: 1920px;
  margin: 0 auto;
}

// header
.header {
  @include bgcolor();
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
.navbar-logo {
  display: inline-block;
  padding: 21px 0;
}

.navbar-items {
  a {
    display: inline-block;
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 6px 16px;
    transition: all 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}
.active-nav {
  border: 2px solid $white-color;
  transition: all 0.3s;

  &:hover {
    border-color: $primary-color;
  }
}

.uk-logo {
  height: 13px;
  width: 18px;
}

// Introduce
.introduce {
  position: relative;
  @include bgcolor();
  text-align: center;
}
.introduce__icon {
  font-size: 8rem;
  color: $primary-color;
  padding: 144px 0 112px 0;
}

.introduce-title {
  font-size: 5rem;
}
.introduce-description {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
  margin: 66px 0 84px 0;
}

.introduce-button {
  font-size: 1.6rem;
  gap: 16px;

  button {
    @include large-btn;
  }
}

.introduce__pagination {
  padding: 148px 0 46px;
}
.dot {
  height: 20px;
  width: 20px;
  border: 4px solid $bg-color;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  outline: 3px solid $white-color;
}
.dot.dot-active {
  background-color: $primary-color;
}

.next-page,
.prev-page {
  display: inline-block;
  color: $white-color;
  font-size: 4rem;
  font-weight: normal;
  position: absolute;
  background-color: $color-6;
  padding: 20px 22px;
  top: 50%;
  transition: all 0.3s;

  &:hover {
    background-color: $primary-color;
    opacity: 1 !important;
  }
}
.prev-page {
  left: 0;
}

.next-page {
  right: 0;
}

// Services
.services {
  padding: 142px 0;
  color: $secondary-color;
}

.services-title {
  font-size: 3.6rem;
  text-align: center;
}
.services-description {
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 80px 0;
}

.services-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 60px;
  padding-top: 40px;
}

.products-items {
  flex-basis: 25%;
  min-width: 270px;
  text-align: center;
  background-color: $color-1;
  transition: all 0.4s;

  &:hover {
    background-color: $white-color;

    .space {
      transform: scaleY(2.5);
    }

    .product-title {
      transform: translateY(-20px);
    }
  }
}

.products-items__effect-bot {
  border-top: none !important;
}
.products-items__effect-top {
  border-bottom: none !important;
}

.space {
  transition: all 0.4s;
  height: 20px;
  border: 1px solid $color-19;
}

.product-title-container {
  min-height: 120px;
}

.product-title {
  font-size: 1.8rem;
  padding: 36px 0;
  transition: all 0.4s;
  position: relative;
}

.product-price {
  background-color: $color-2;
  color: $white-color;
  padding: 36px 0;

  h4 {
    font-size: 5rem;
    font-weight: 200;
  }
  p {
    font-size: 1.4rem;
    margin-top: 12px;
  }
}

.product-description {
  transition: all 0.4s;
  li {
    font-size: 1.4rem;
    padding: 20px 0;
    border-top: 1px solid $color-19;
  }

  button {
    margin: 24px 0 50px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 24px;
    border: none;
    border-radius: 30px;
    background-color: $btn-color;
    color: $white-color;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $color-4;
    }

    i {
      margin-right: 6px;
    }
  }
}

.product-sub-description {
  text-align: center;
  height: 80px;

  h4 {
    font-size: 1.8rem;
    font-weight: normal;
    padding: 20px 0;
  }
  p {
    font-size: 1.2rem;
    opacity: 0.8;
  }
}

.background-color-3 {
  background-color: $color-3;
}
.background-color-4 {
  background-color: $color-4;
}
.background-color-5 {
  background-color: $color-5;
}

.new-item {
  .product-title {
    h3 {
      font-size: 1.8rem;
      font-weight: normal;
    }
    p {
      font-size: 1.4rem;
      padding-top: 16px;
    }
  }
}

.product-new-tag {
  min-height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $bg-color;
  color: $white-color;
  position: absolute;
  transform: translate(50%, -90%);
  font-size: 1.2rem;
  font-weight: 600;
}

// footer.
.footer {
  background-color: $color-6;
  color: #fff;
  font-size: 1.4rem;

  .container {
    padding: 0;
  }
}
// sub-footer
.sub-footer {
  background-color: $color-7;
  font-size: 1.5rem;
}
.sub-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 46px 0;
}

.footer-copyright {
  color: $white-color;
  span {
    color: $primary-color;
  }
}

.footer-bars {
  display: flex;

  a {
    display: inline-block;
    color: $white-color;
    padding: 0 20px;
    border-left: 1px solid $white-color;
    transition: all 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  li:first-child {
    a {
      border: none;
    }
  }
}

.footer-social {
  display: flex;

  .fa-facebook-f {
    color: #4e64b5;
  }
  .fa-linkedin-in {
    color: #0288d1;
  }
  .fa-twitter {
    color: #00aced;
  }
  .fa-instagram {
    color: #9a8f62;
  }
  .fa-pinterest-p {
    color: #ff5757;
  }
  .fa-youtube {
    color: #c82929;
  }
  a {
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 6px;
    transition: all 0.3s;
  }
}

// main footer
.main-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 42px;
  color: $footer-text;
  font-size: 1.3rem;
  line-height: 1.5;
}

.main-footer__items {
  flex-basis: 22%;
  min-width: 261px;
}

.footer-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 46px;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 8px;
    right: -14px;
    border-top: 7px solid transparent;
    border-left: 7px solid $color-18;
  }
}

.main-footer__section {
  margin: 70px 0;
}

// 1
.gem-logo--bot {
  display: block;
  max-width: 162px;
  max-height: 66px;
  margin-bottom: 46px;
}

.footer-contact__info {
  i {
    display: inline-block;
    margin-right: 12px;
  }

  span {
    color: $primary-color;
  }
}

.address-location-pin {
  padding-bottom: 5px;
}

// 2
.gem-posts {
  li {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px 0;
  }
  li:first-child {
    padding-top: 0;
  }
  li:last-child {
    border: none;
  }
}
.gem-post__img {
  min-width: 70px;
  height: 70px;
  background-color: $footer-text;
  border-radius: 50%;
}
.gem-post__img:nth-child(2) {
  background-color: $color-9;
}
.gem-post__img:last-child(3) {
  background-color: $color-6;
}

.gem-post__content-comment {
  display: flex;
  justify-content: space-between;

  p:first-child {
    color: $primary-color;
  }
}
.gem-quantity {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $primary-color;
  }
}

.footer-useful-links {
  line-height: 1;
  li {
    padding: 12px 0;
    cursor: pointer;
    transition: all 0.3s;

    &:last-of-type {
      border: none;
    }
    &:first-of-type {
      padding-top: 0;
    }

    &:hover {
      color: $primary-color;

      .markup-dot {
        color: $white-color;
      }
    }
  }

  .markup-dot {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s;
  }
}
.markup-dot {
  display: inline-block;
  margin-right: 10px;
}

// 3
.footer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 8px;
  justify-content: center;
  width: 100%;

  li {
    width: 80px;
    height: 80px;
    background-color: $color-10;

    &:nth-child(odd) {
      background-color: $color-11;
    }
    &:nth-child(even) {
      background-color: $color-12;
    }
  }
}
.footer-contact__form {
  input,
  textarea,
  button {
    width: 100%;
    padding: 12px 18px;
    border: 1px solid #394050;
    background-color: $color-7;
    color: $white-color;
    outline: none;
    margin-bottom: 16px;

    &:focus {
      border-color: $primary-color;
    }
  }
  button {
    font-weight: 600;
    background-color: #394050;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #5f727f;
    }
  }
}
.footer-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  gap: 12px;
}
.footer-dot {
  width: 14px;
  height: 14px;
  background-color: $color-13;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-14;
  }
}

// 4
.footer-newsletter__form {
  display: flex;
  width: 100%;
  margin: 35px 0 20px;

  input,
  button {
    padding: 11px 16px;
    border: 1px solid $color-13;
    background-color: $color-7;
    color: $white-color;
    outline: none;
  }

  button {
    background-color: $color-13;
  }

  + p {
    font-size: 1rem;
    opacity: 0.7;
  }
}
.main-footer__section:last-child {
  line-height: 1.6;
  span {
    color: $primary-color;
  }
}

// BANNER

.banner {
  text-align: center;
  background-color: $color-15;
  color: $white-color;
}
.banner-wrap {
  max-width: 1004px;
  margin: 0 auto;
  padding-top: 220px;
  padding-bottom: 204px;

  h2 {
    font-size: 8rem;
    font-weight: 200;
  }

  p {
    font-size: 2rem;
    line-height: 1.5;
    margin: 100px 0;
    font-weight: 100;
  }
}
.banner-btn {
  @include large-btn;
  font-size: 1.8rem;
}
.sword-icon {
  display: inline-block;
  padding: 10px;
  border: 4px solid $icon-color-1;
  border-radius: 50%;
  margin-bottom: 72px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color: $icon-color-2;

    svg {
      g:last-of-type {
        fill: $icon-color-2;
      }
    }
  }
}

// Go top btn
.go-top {
  display: inline-block;
  padding: 16px;
  font-size: 1.8rem;
  color: $white-color;
  background-color: $color-16;
  opacity: 0.5;
  position: fixed;
  right: 40px;
  bottom: 82px;
  z-index: 100;
  display: none;
}

// mobile modal
.mobile-modal,
.cart-modal {
  position: fixed;
  width: 100%;
  inset: 0;
  background-color: $white-color;
  color: $color-6;
  overflow: auto;
  display: none;
}
.mobile-modal__body {
  z-index: 10;
}

.mobile-modal__header {
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  height: 66px;
  line-height: 66px;

  img {
    display: block;
    margin: 0 auto;
    padding: 11px 0;
  }

  i {
    display: inline-block;
    font-size: 2.8rem;
    position: absolute;
    top: 30%;
    right: -2px;
  }
}

.modal-list {
  margin: 40px 0;
  display: none;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease;
}

.modal-text {
  text-align: center;
  font-size: 2.4rem;
  position: relative;
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $primary-color;
  }

  span {
    font-size: 1.6rem;
    position: absolute;
    top: 10%;
    right: 0%;
  }
}
.show {
  display: block !important;
  opacity: 1 !important;
  height: auto;
  transition: all 0.5s ease;
}

// cart modal
.cart-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-100%);
  transition: all 0.4s;
}
.cart-modal__body {
  width: 70%;
  max-width: 450px;
  height: 100vh;
  background-color: $white-color;
  z-index: 20;
}

.cart-modal__content {
  padding: 24px;
  font-size: 1.6rem;
}
.cart-modal__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.close-cart-modal {
  font-size: 2.4rem;
}

.cart-modal__text {
  opacity: 0.8;
  padding: 20px 0;
}
